//
// Kit
//


// Body
$body-color: $gray-800;


// Paragraphs
$paragraph-margin-top: $spacer * 1.6;


// Typography
//$font-size-base: 16px;

$headings-margin-top: $spacer * .8;
$headings-color:      $gray-900;
