//
// Light
//


// Colors
$body-color: $black;

$gray-subtle: #eee;


// Brand Scale
$primary: #1997c6;
$success: #1bc98e;
$info:    #9f86ff;
$warning: #e4d836;
$danger:  #e64759;
$dark:    darken(#252830, 5%);


$font-family-serif:             georgia, "Times New Roman", times, serif !default;
$font-size-xs:                  .75rem !default;
$nav-tabs-active-link-hover-bg: $body-bg !default;


// States
$state-success-text: $success;
$state-info-text:    $info;
$state-warning-text: $warning;
$state-danger-text:  $danger;


// Spacing
$spacer:            $spacer * 1.3;
$spacer-x:          $spacer;
$spacer-y:          $spacer;
$grid-gutter-width: $spacer;


// Typography

// Fonts
$font-family-sans-serif:  "Roboto", "Helvetica Neue", helvetica, arial, sans-serif;
$font-family-base:        $font-family-sans-serif;

// Body
$font-size-base:      .9rem;
$font-weight-base:    $font-weight-light;
$letter-spacing-base: 0;
$line-height-base:    1.5;
$text-color:          $gray-700;

// Lead
$lead-font-size:      $font-size-base * 1.15;
$lead-font-size-sm:   $lead-font-size * 1.3;
$lead-font-weight:    inherit;
$lead-line-height:    1.4;
$lead-letter-spacing: 0;

// Headings
$headings-font-weight: $font-weight-light;
$headings-color:       inherit;

$text-muted: #999;
$hr-border:  $gray-subtle;

// Pagination
$pagination-disabled-border-color: rgba(53, 54, 55, .78);

// Cards
$card-bg: rgba($white, .07);


// Forms
$input-border:       #d5d5d5;
$input-border-focus: $primary;
$input-weight:       $font-weight-light;


// Buttons
$btn-font-size:      $font-size-base;
$btn-text-transform: none;
$btn-letter-spacing: normal;

// Overrides
$btn-font-weight:        normal;
$btn-secondary-color:    $gray-900;
$btn-secondary-bg:       $gray-100;
$btn-secondary-border:   darken($btn-secondary-bg, 10%);
$btn-toolbar-divider-bg: #eee;


// Badges
$badge-color: $white;


// Alerts
$alert-success-bg:     $success;
$alert-success-text:   lighten($success, 50%);
$alert-success-border: $alert-success-bg;

$alert-info-bg:     $info;
$alert-info-text:   lighten($info, 50%);
$alert-info-border: $alert-info-bg;

$alert-warning-bg:     $warning;
$alert-warning-text:   lighten($warning, 50%);
$alert-warning-border: $alert-warning-bg;

$alert-danger-bg:     $danger;
$alert-danger-text:   lighten($danger, 45%);
$alert-danger-border: $alert-danger-bg;


// Navs
$nav-link-padding: ($spacer * .3) ($spacer * .7);

$nav-bordered-color:              #777;
$nav-bordered-color-active:       #777;
$nav-bordered-font-weight:        $font-weight-light;
$nav-bordered-font-weight-active: 500;

$nav-link-hover-bg: lighten($primary, 45%);

$nav-pills-active-weight: 500;
$nav-header-color:        lighten($gray-700, 35%);


// Navbar
$navbar-border:          transparent;
$navbar-dark-bg:         $gray-900;
$navbar-dark-border:     $gray-900;
$navbar-brand-padding-y: .125rem;


// Nav Icon
$nav-icon-bg:                  $gray-subtle;
$nav-icon-border:              $white;
$nav-icon-width:               $spacer * 3.3;
$nav-icon-brand-color:         $gray-subtle;
$nav-icon-brand-hover-color:   inherit;
$nav-icon-brand-bg:            $primary;
$nav-icon-brand-border:        $nav-icon-border;
$nav-icon-link-color:          inherit;
$nav-icon-link-border:         $nav-icon-border;
$nav-icon-link-active-color:   $gray-700;
$nav-icon-link-active-bg:      $nav-icon-border;

$list-group-bg:           transparent;
$list-group-header-color: inherit;

$statlist-border-color: #e5e5e5;
$statlist-link-color:   inherit;
$statlist-progress-bg:  #f5f5f5;

$hr-divider-content-color: $gray-700;
$hr-divider-content-bg:    $body-bg;
$hr-divider-before-bg:     $gray-subtle;

$custom-select-color:       $input-color;
$custom-select-bg:          $input-bg;
$custom-select-disabled-bg: $input-disabled-bg;

$custom-control-indicator-bg:         $input-bg;
$custom-control-indicator-box-shadow: rgba($black, .15);

$sidebar-brand-color:          $gray-700;
$sidebar-brand-hover-color:    $gray-800;
$sidebar-toggler-color:        #ccc;
$sidebar-toggler-hover-color:  $white;

$dashhead-toolbar-divider-bg: #eee;
$dashhead-subtitle-color:     $nav-header-color;

$navbar-nav-active-font-weight: 500;


// Container
$container-max-widths: (
  md: 880px,
  lg: 950px,
  xl: 1100px
);
@include _assert-ascending($container-max-widths, "$container-max-widths");
