// Startup


// Theme Colors
$theme-colors: (
  primary: #2595ff,
  secondary: #fff,
  success: #5cb85c,
  info: #5bc0de,
  warning: #f0ad4e,
  danger: #d9534f,
  light: #f5f8fa,
  dark: #122a38
);


// Kit Variables
@import "./variables.scss";


// Text Overrides
$body-color:             #6c6f73;
$font-size-base:         $spacer * .9;
$font-family-sans-serif: "Work sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-base:       $font-family-sans-serif;
$headings-font-family:   $font-family-sans-serif;
$text-color:             #6c6f73;
$headings-color:         #2d3238;
$line-height-base:       1.4;


// Gray Override
$gray-light: #bec8ce;
$text-muted: $gray-light;


// H3 Override
$font-size-h3: $font-size-lg * 1.6;


// Nav Tranpsarent
$navbar-transparent-brand-hover-bg:       transparent;
$navbar-transparent-toggler-hover-bg:     transparent;
$navbar-transparent-toggler-border-color: transparent;


// Nav Bordered
$nav-bordered-color:              $black;
$nav-bordered-color-active:       $primary;
$nav-bordered-font-weight:        $font-weight-light;
$nav-bordered-font-weight-active: $font-weight-bold;


// Misc. Typography
$headings-font-weight: 500;
$font-weight-normal:   400;
$letter-spacing-base:  -.02rem;


// Lead
$lead-letter-spacing: $letter-spacing-base;
$lead-font-size:      $font-size-base * 1.5;


// Blocks
$block-title-font-size:    $font-size-base * 2.5;
$block-title-font-size-sm: $block-title-font-size * 1.1;
$block-lead-font-size-sm:  $font-size-base * 1.4;
$block-vertical-padding:   $spacer * 6.9;
