// Reboot
@import "bootstrap/scss/reboot";


// Body
body {
  font-weight: $font-weight-base;
  letter-spacing: $letter-spacing-base;
}


// Typography
%heading {
  margin-top: $headings-margin-top;

  + %heading {
    margin-top: $headings-margin-top * 0.5;
  }
}

p,
ul,
ol {
  + %heading {
    margin-top: $headings-margin-top * 2;
  }

  + * {
    margin-top: $paragraph-margin-top;
  }
}
